[Unit]
Description=Docker Application Service for Edge Heatcore Toolkit
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/etc/heatcore/eht
ExecStart=sh -c 'export PATH=$PATH:/snap/bin;docker run -d --name toolkit --restart=always --network host 713613010142.dkr.ecr.ap-southeast-1.amazonaws.com/edge-heatcore-toolkit:latest sh /app/run.sh'
ExecStop=sh -c 'export PATH=$PATH:/snap/bin;docker stop toolkit;docker rm toolkit'
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
